<section class='user-profile-container'>

  <article class='user-container'>
    <img src=<%= @user.photo %> alt="Image placeholder">
    <div class='user-data'>
      <h1><%= @user.name %></h1>
      <p>Posts: <%= @user.postCounter %></p>
    </div>
  </article>

  <section class='user-page'>
    <article class='bio'>
      <h3>Bio</h3>
      <p><%= @user.bio %></p>
      <%= link_to 'New Post', new_user_post_path(@user.id), class: 'create_btn' %>
    </article>

    <% @last_posts.each do |post|%>
      <%= link_to user_post_path(@user.id, post.id) do %>
        <article class='user-post'>
          <h3><%= post.title %></h3>
          <p><%= post.text %></p>
          <span class='counters'>Comments: <%= post.commentsCounter %> - Likes: <%= post.likesCounter %></span>
        </article>
      <% end %>
    <% end %>

    <%= link_to 'See all posts', user_posts_path(@user.id), class: 'posts-btn' %>
  </section>
</section>
