<h1>Show posts by user</h1>
<section>
  <div>
    <img src=<%= @user.photo %> alt="Image placeholder">
    <div>
      <h2><%= @user.name %></h2>
      <p>Number of posts: <%= @user.postCounter %></p>
    </div>
  </div>
  <section>
<% @posts.each_with_index do |post, index| %>
    <h3>Post #<%= index + 1 %></h3>
    <p><%= post.text %></p>
    <ul>
    <% post.comments.each do |comment| %>
      <li><%= comment.author.name %>: <%= comment.text %></li>
    <% end %>
    </ul>
  </section>
<% end %>
  <button>pagination</button>
</section>
