<section class='user-profile-container'>

  <article class='user-container'>
    <img src=<%= @user.photo %> alt="Image placeholder">
    <div class='user-data'>
      <h1><%= @user.name %></h1>
      <p>Posts: <%= @user.postCounter %></p>
    </div>
  </article>

  <%= link_to '< Back to Profile', user_path(@user), class: 'create_btn back' %>

  <section class='user-page'>
    <% @posts.each do |post| %>
    <a href="/users/<%=@user.id%>/posts/<%=post.id%>">
      <article class='user-post'>
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>
        <% if post.commentsCounter > 0%>
          <ul class='comments'>
            <% @comments.each do |comment| %>
              <% if comment.posts_id == post.id %>
                <li><h4><%= comment.author.name %>:</h4> <p><%= comment.text %></p></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </article>
      </a>
    <% end %>
  </section>
</section>
