<section class='user-profile-container'>

  <article class='user-container'>
    <img src=<%= @user.photo %> alt="Image placeholder">
    <div class='user-data'>
      <h1><%= @user.name %></h1>
      <p>Posts: <%= @user.postCounter %></p>
    </div>
  </article>

  <section class='user-page'>
    <% @posts.each_with_index do |post, index| %>
      <article class='user-post'>
        <h3>Post #<%= index + 1 %></h3>
        <p><%= post.text %></p>
        <% if post.commentsCounter > 0%>
          <ul class='comments'>
            <% post.comments.each do |comment| %>
              <li><h4><%= comment.author.name %>:</h4> <p><%= comment.text %></p></li>
            <% end %>
          </ul>
        <% end %>
      </article>
    <% end %>
  </section>
  <a class="posts-page-btn" href="#">See all posts</a>
</section>
