<section class='user-profile-container'>
  <section class='post-container'>
    <div class='post-title'>
      <h2>Post #<%= @post.id %> <span>by <%= @post.author.name %></span></h2>
      <p>Comments: <%= @post.commentsCounter %> - Likes: <%= @post.likesCounter %></p>
    </div>
    <article class='post-text'>
      <p><%= @post.text %></p>
    </article>
  </section>
  <section class='comments-container'>
  <ul>
    <%@comments.each do |comment|%>
      <li><h4><%= comment.author.name %>:</h4> <p><%= comment.text %></p></li>
    <%end%>
  </ul>
  <section>
</section>